name: CTP Automated Testing

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR Number'
        required: true
        type: string
      branch:
        description: 'Branch name'
        required: true
        type: string
      node_version:
        description: 'Node.js version'
        required: true
        default: '16'
      java_version:
        description: 'Java version'
        required: true
        default: '21'
        type: string
    #  docker_image:
    #    description: 'Name of the docker image to build and push'
    #    required: false
    #    type: string
    #    default: ''
      run_test:
        description: 'Run test stage'
        required: false
        default: false
        type: boolean
      run_sonarcloud:
        description: 'Run SonarCloud analysis'
        required: false
        default: false
        type: boolean
      run_codeql:
        description: 'Run CodeQL analysis'
        required: false
        default: false
        type: boolean
      run_qodana:
        description: 'Run Qodana analysis'
        required: false
        default: false
        type: boolean
      run_docker:
        description: 'Build and push Docker image'
        required: false
        default: false
        type: boolean
      run_maven_publish:
        description: 'Publish Maven release'
        required: false
        default: false
        type: boolean


jobs:
  checkout:
    name: Checkout PR code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR
        id: pr-checkout
        uses: actions/checkout@v4
        with:
          repository: e-CODEX/ctp
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0
          token: ${{ secrets.ctp_PAT_TOKEN }}
  mvn-npm-check:
    uses: ./.github/workflows/verify-mvn-npm.yml
    with:
      branch: ${{ github.event.inputs.branch }}
    secrets: inherit

  build:
    needs: mvn-npm-check
    uses: ./.github/workflows/ci-build.yaml
    with:
      is_npm: ${{ needs.mvn-npm-check.outputs.project_type == 'npm' }}
      is_mvn: ${{ needs.mvn-npm-check.outputs.project_type == 'maven' || needs.mvn-npm-check.outputs.project_type == 'both' }}
      java-version: ${{ github.event.inputs.java_version }}
      node-version: ${{ github.event.inputs.node_version }}
      maven-parameters: "-DskipTests"
      sbom-path: dist/sbom.json
      artifact-path: dist/
      branch: ${{ github.event.inputs.branch }}
    secrets: inherit

  test:
    if: ${{ github.event.inputs.run_test == 'true' }}
    uses: ./.github/workflows/ci-tests.yaml
    needs: mvn-npm-check
    with:
      is_npm: ${{ needs.mvn-npm-check.outputs.project_type == 'npm'  }}
      is_mvn: ${{ needs.mvn-npm-check.outputs.project_type == 'maven' || needs.mvn-npm-check.outputs.project_type == 'both' }}
      java-version: ${{ github.event.inputs.java_version }}
      node-version: ${{ github.event.inputs.node_version }}
      branch: ${{ github.event.inputs.branch }}

  sonarcloud:
    if: ${{ github.event.inputs.run_sonarcloud == 'true' }}
    needs: test
    uses: e-CODEX/workflows/.github/workflows/sonar-java.yaml@main
    with:
      java-version: 21
      build-tool: 'maven'
    secrets: inherit

  codeql:
    if: ${{ github.event.inputs.run_codeql == 'true' }}
    needs: test
    uses: e-CODEX/workflows/.github/workflows/codeql-java.yaml@main
    with:
      java-version: 21
      build-tool: 'maven'

  qodana:
    if: ${{ github.event.inputs.run_qodana == 'true' }}
    needs: test
    uses: e-CODEX/workflows/.github/workflows/qodana.yaml@main
    secrets: inherit

  maven-validate-release-version:
    if: ${{ github.event.inputs.run_maven_publish == 'true' }}
    needs: test
    uses: ./.github/workflows/maven-validate-release-version.yaml

  docker-build-push:
    if: ${{ github.event.inputs.run_docker == 'true' && github.event.inputs.docker_image != '' }} 
    needs: test
    uses: ./.github/workflows/docker-build-push.yaml
    with:
      image-name: ${{ github.event.inputs.docker_image }}
      tag: ${{ github.sha }}
      environment: development
      registry: your-registry-url

  maven-publish-snapshot:
    if: ${{ github.event.inputs.run_maven_publish == 'true' }}
    needs: test
    uses: ./.github/workflows/maven-publish-snapshot.yaml
    with:
      java-version: 21
      maven-repo-id: your-snapshot-repo-id
      maven-parameters: "-DskipTests"

  maven-tag-release-version:
    if: ${{ github.event.inputs.run_maven_publish == 'true' }}
    needs: maven-validate-release-version
    uses: ./.github/workflows/maven-tag-release-version.yaml
    with:
      environment: other

  maven-publish-release:
    if: ${{ github.event.inputs.run_maven_publish == 'true' }}
    needs: [maven-validate-release-version, maven-tag-release-version]
    uses: ./.github/workflows/maven-publish-release.yaml
    with:
      java-version: 21
      maven-repo-id: your-maven-repo-id
      maven-parameters: "-DskipTests"
      environment: other