name: Create and publish Docker image
# Create and publish a Docker image to the e-CODEX JFrog, following SemVer and GitFlow conventions
# On pushes to develop, build and push a Docker image with the 'edge' label
# On tag pushes to the main branch, build and push a Docker image with the 'latest' label, as well as the SemVer tags (e.g. '1.2.3', '1.2', '1')
# On all pushes, build and push a Docker image with the short SHA checksum label
#
# Authentication to the e-CODEX JFrog is done using the JFrog CLI, which is configured with an OIDC token, obtained from the GitHub Actions OIDC provider
# Attestation of the Docker image is created and pushed to the e-CODEX JFrog as well as to the GitHub Attestations API

on: 
  workflow_call:
    inputs:
      image-name:
        description: 'The name of the Docker image to build and push'
        required: true
        default: ${{ github.repository }}
        type: string
      tag:
        description: 'The github tag to checkout (optional)'
        required: false
        type: string

permissions:
      contents: read
      attestations: write # Required for attestation
      id-token: write # Required for JFrog CLI setup

jobs:
  mvn-npm-check:
    uses: ./.github/workflows/verify-mvn-npm.yml
    secrets: inherit

  build-and-push-image-npm:
    needs: mvn-npm-check
    if: ${{ needs.mvn-npm-check.outputs.project_type == 'npm' }}
    uses: ./.github/workflows/docker-build/docker-build-push-npm.yml
    with:
      image-name: ${{ inputs.image-name }}
      tag: ${{ inputs.tag }}

  build-and-push-image-mvn:
    needs: mvn-npm-check
    if: ${{ needs.mvn-npm-check.outputs.project_type == 'maven' }}
    uses: ./.github/workflows/docker-build/docker-build-push-mvn.yml
    with:
      image-name: ${{ inputs.image-name }}
      tag: ${{ inputs.tag }}