on: 
  workflow_call:
name: Java code Checkstyle
jobs:
  checkstyle:
    name: runner / checkstyle
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: 'e-CODEX/workflows'
          path: 'workflows'
          ref: 'main'
      - uses: dbelyaev/action-checkstyle@07a7da077f0ea6cfc0c57a9ece92ebee8cfdf88b # v1.17.2
        with:
          reporter: github-pr-review
          level: warning
          checkstyle_config: workflows/checkstyle.xml
