name: "Check Maven Release"
on:
  workflow_call:
permissions:
  contents: read

jobs:
  check-version:
    name: "Check Maven Release"
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin'
          java-version: "21"

      - name: Check version against SNAPSHOT
        id: check-snapshot
        run: |
          # Use Maven to extract the version from the pom.xml file
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          # Check if the version is a snapshot
          if [[ "$VERSION" == *"-SNAPSHOT" ]]; then
              echo "Error: Version $VERSION is a SNAPSHOT version. Please use a final version."
              exit 1
          else
              echo "Version $VERSION is a final version."
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

          
      - name: Check if the tag already exists
        id: check-tag
        env:
          VERSION: ${{ steps.check-snapshot.outputs.version }}
        run: |
          # Fetch all tags from the remote repository
          git fetch --tags
          # Check if a tag with the current version already exists
          if git rev-parse "refs/tags/$VERSION" >/dev/null 2>&1; then
              echo "Error: Tag $VERSION already exists. Please use a different version."
              exit 1
          else
              echo "Tag $VERSION does not exist. Proceeding with the workflow."
          fi
