on:
  workflow_call:
    secrets:
      QODANA_TOKEN:
        required: true
  
permissions:
    contents: write
    security-events: write # required for uploading SARIF files
    pull-requests: write # required for updating PR comments
    checks: write
    actions: read

jobs:
  qodana:
    runs-on: ubuntu-latest

    name: Analyze with Qodana
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          ref: ${{ github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: Qodana Scan
        uses: JetBrains/qodana-action@e14351bdf4707c4cecc25a86a9190745b7b40de8 #v2025.1.1
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}          

      - name: Upload results to Github
        uses: github/codeql-action/upload-sarif@ce28f5bb42b7a9f2c824e633a3f6ee835bab6858 # v3.29.0
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
