on:
  workflow_call:
    secrets:
      QODANA_TOKEN:
        required: true
  
permissions:
  contents: read

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        security-events: write # required for uploading SARIF files
        pull-requests: write # required for updating PR comments
        checks: write
    name: Analyze with Qodana
    steps:
      

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: Qodana Scan
        uses: JetBrains/qodana-action@e14351bdf4707c4cecc25a86a9190745b7b40de8 #v2025.1.1
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}          

      - name: Upload results to Github
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
